<footer class="container mx-auto py-20 px-4 text-zinc-600">
    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex flex-col">
        <div class="flex items-center gap-3">
          <a href="/">
            <img src="/cup.svg" class="h-7 w-7"/>
          </a>
          <p class="text-xl font-bold">Marcus Felix</p>
        </div>
      </div>
      <div class="flex-1 flex flex-col text-lg gap-2">
        
      </div>
      <div class="flex flex-col text-lg gap-2">
        <a href="mailto: marcus.felix@gmail.com">E-mail</a>
        <a href="https://github.com/marcusfelix" target="_blank">Github</a>
        <a href="https://twitter.com/marcusfelix" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/marcusvfelix/" target="_blank">Instagram</a>
        <a href="https://www.tiktok.com/@marcusvfelix" target="_blank">TikTok</a>
      </div>
      <div class="flex flex-col text-lg gap-2">
        <a href="https://github.com/marcusfelix/website" target="_blank">Source code</a>
      </div>
    </div>
    <div class="py-10">© {new Date().getFullYear()} Marcus Felix </div>
  </footer>