<header class="px-4 py-10 container mx-auto max-w-6xl flex gap-4 items-center justify-between">
    <a href="/">
      <img src="/icon.svg" class="w-12 h-12"/>
    </a>
    <nav class="flex gap-4">
      <a href="/blog">Blog</a>
      <a href="https://github.com/marcusfelix" target="_blank">Github</a>
      <a href="mailto: marcus.felix@gmail.com">E-mail</a>
    </nav>
  </header>